.ant-menu{
  background: transparent ;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
  border-left: 5px solid;
}

.ant-menu-vertical{
  border-right: 0px;
}

.ant-menu-item-icon{
  font-size: 22px!important;
}

.ant-menu-item{
  margin-bottom: 22px !important;
}

.cursor-pointer{
  cursor: pointer;
}